aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
appdirs==1.4.4
astra-toolbox @ file:///root/miniconda3/conda-bld/astra-toolbox_1753370053547/work/python
astropy==7.1.1
astropy-iers-data==0.2025.11.10.0.38.31
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.0
condax==0.2.4
contourpy==1.3.3
cycler==0.12.1
deepinv==0.3.6
diskcache==5.6.3
einops==0.8.1
ensureconda==1.6.0
filelock==3.20.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
girder-client==3.2.11
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.2.4
h5py==3.15.1
idna==3.11
ImageIO==2.37.2
Jinja2==3.1.6
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
lazy_loader==0.4
lightning==2.5.6
lightning-utilities==0.15.2
-e git+ssh://git@github.com/trung-vt/LION_ttv.git@494c80ef5d1b0fd4296ceeec9ede401cdc1fb792#egg=LION
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.0
natsort==8.4.0
networkx==3.5
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.3
pillow==12.0.0
platformdirs==4.5.0
propcache==0.4.1
protobuf==6.33.0
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
pydicom==3.0.1
pyerfa==2.0.1.5
Pygments==2.19.2
pylidc==0.2.3
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytorch-lightning==2.5.6
pytz==2025.2
PyWavelets==1.9.0
PyYAML==6.0.3
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
scikit-image==0.25.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1761689805279/work/dist/scipy-1.16.3-cp312-cp312-linux_x86_64.whl#sha256=99192edb305485cb50d0365378a3f86e5776626d1565153a1a3c2d4be32f8b87
sentry-sdk==2.44.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
spyrit==3.0.2
SQLAlchemy==2.0.44
sympy==1.14.0
tifffile==2025.10.16
tomosipo @ git+https://github.com/ahendriksen/tomosipo.git@6bf42a4079336671f182969b854103aecbef8ce6
torch==2.9.1
torchdiffeq==0.2.5
torchmetrics==1.8.2
torchvision==0.24.1
tqdm==4.67.1
triton==3.5.1
ts_algorithms @ git+https://github.com/ahendriksen/ts_algorithms.git@dbd6545d505f0e816af10b9e8a9a72aaa54a6f50
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
userpath==1.9.2
wandb==0.23.0
wget==3.2
wheel==0.45.1
yarl==1.22.0
